.doctor-home {
}

.doctor-home.container {
  margin: 50px;
}

.container h1 {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.appointment-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.appointment {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px green;
  width: 400px;
}
